{% extends "base.html" %}

{% block body %}
<h1>Project Chronos Semantic Repository</h1>

<p>Project Chronos is glad to serve these ontologies from these endpoints.</p>
<p>These same ontologies are used to power <a href="http://pramantha.net">Pramantha APIs</a></p> 

<ul>
{% for k, v in content.items() %}
     <li>{{ k.title() }} Repository: <span style="font-style:italic;"><a href="{{ v[1] }}">endpoint</a> <a href="{{ v[2] }}">documentation</a></span> {{ v[0] }} </li>
{% endfor %}
</ul>

{% endblock %}