{% extends "base.html" %}

{% block body %}
<a href="https://github.com/SpaceAppsXploration/RDFvocab"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<h1 class="title">{{ name.upper() }} Ontology</h1>

<p><b>description</b>: {{title['label']}}</p> 
<p><b>comment</b>: {{title['comment']}}</p>

<h2>Context</h2>
<ul>
{% for k, v in context.items() %}
    {% if v is mapping %}
    <li>{{k}} : <pre style="font-style:italic;">{{v}}</pre></li>
    {% else %}
    <li>{{k}} : <span style="font-style:italic;"><a href="{{v}}">{{v}}</a></span></li>
    {% endif %}
{% endfor %}
</ul>



{% if properties|length != 0 %}
<div class="example">
    <h1 class="example-head">Properties</h1>
</div>
    {% for p in properties %}
            <div class="example-title">{{p['label']}} (<a href="{{title['name']+p['label']}}">endpoint</a>)</div>
            <div class="example">
                <pre class="example">{{p['dump']}}</pre>
            </div>
    {% endfor %}
{% endif %}

<div class="example border-grey">
    <h1 class="example-head">Classes</h1>
</div>

{% for c in classes %}
        <div class="example-title text-grey">{{c['label']}} (<a href="{{title['name']+c['label']}}">endpoint</a>)</div>
        <div class="example border-grey"><pre class="example">{{c['dump']}}</pre></div>
{% endfor %}

{% endblock %}
