<HTML>
<body>
<h1>{{ name.upper() }} Ontology</h1>

<p><b>description</b>: {{title['label']}}</p> 
<p><b>comment</b>: {{title['comment']}}</p>

<h2>Context</h2>
<ul>
{% for k, v in context.items() %}
    <li>{{k}} : <span style="font-style:italic;"><a href="{{v}}">{{v}}</a></span></li>
{% endfor %}
</ul>

<h2>Properties</h2>

{% for p in properties %}
    <ul>
        <li><a href="{{title['name']+p['label']}}">{{p['label']}}</a></li>
        <pre>{{p['dump']}}</pre>
    </ul>
{% endfor %}


<h2>Classes</h2>
<ul>
{% for c in classes %}
        <li><a href="{{title['name']+c['label']}}">{{c['label']}}</a></li>
        <pre>{{c['dump']}}</pre>
{% endfor %}
</ul>

</body>
</HTML>